<html>
<head>
<title>FileShare</title>
<meta content='width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1' name='viewport'/>
<meta content='IE=edge' http-equiv='X-UA-Compatible'/>
<style type="text/css">
</style>
</head>
<body style="background-color:#282833;">
<div class="frame">
	<div class="center">
	<div class="title">
	<h1>Drop file to upload</h1>
	</div>
	<form method="POST" enctype="multipart/form-data">
	<div class="dropzone">
	<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon">
	<input type="file" name="file" class="upload-input">
	</div>
	<button disabled style="z-index: 1;" type="submit" class="btn">Send File</button>
	</form>
	</div>
</div>
<div class="progress-container" style="width: 50%;margin: 10px auto; ">
<div style="display:none; width: 0;height: 20px;background-color: #4CAF50;" class="progress-bar" id="progressbr"></div>
</div>
<script>
function sel(obj){return document.querySelector(obj);}
function loader(percentage) {
    const progressBar = sel('#progressbr');
    progressBar.style.width = percentage + '%';
    sel(".btn").innerText = "Uploaded " + percentage + '%';}
const fileInput = sel('.upload-input');
fileInput.addEventListener('change', (event) => {
  const file = event.target.files[0];
  const formData = new FormData();
  formData.append('file', file);
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/fsend', true);
  xhr.upload.addEventListener('progress', (event) => {
    if (event.lengthComputable) {
      const uploaded = event.loaded;
      const total = event.total;
      const progress = Math.round((uploaded / total) * 100);
      loader(progress)}});
      
  xhr.onload = () => {
    sel(".btn").innerText="Send File";
    alert('Upload complete!');};
  xhr.send(formData);
});
</script>
</body>
</html>