<html>
<head>
<title>FileShare</title>
<meta content='width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1' name='viewport'/>
<meta content='IE=edge' http-equiv='X-UA-Compatible'/>
<link rel="stylesheet" href="./static/css/style.css">
<body>
<h2 style="text-align:center; color:#86adf7;">Scan this qr code to send files</h2><br>
<img class="qr_img" style="text-align:center;" src="static/url_qr.png" title="FileShare">
<style>
body{background:#071226; align-items: center; justify-content: center;}
.qr_img{display:flex; margin:0 auto; width:50%; height:auto;}
</style>
</body>
</html>